$primary-font: "Inter", sans-serif;

$white-color: #fff;
$dark-color: #000;

$background-secondary: #f3ebe9;

$text-primary-color: #231f20;
$text-secondary-color: #574e51;

$gray-color-400: #718096;

$blue-color-100: #e9eefa;
$blue-color-500: #2d5bd0;
$blue-color-600: #063a64;

$rec-color-400: #ff6b81;
$rec-color-500: #ff4757;
