@use "../../styles/shared/variables" as *;

.articles {
  margin-top: 24px;
  width: 100%;
}

.articles_inner {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 20px;
}

.articles_title {
  font-size: 18px;
  margin-bottom: 20px;
  color: $text-primary-color;
  text-transform: capitalize;
}
@media (min-width: 420px) {
  .articles_inner {
    padding-left: 32px;
  }
}

@media (min-width: 768px) {
  .articles {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .articles {
    max-width: 1024px;
  }
  .articles_inner {
    padding: 0px 42px;
  }
  .articles_cards {
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
  }
}
/*
.articles_title {
  margin: 0 auto;
  font-size: 24px;
  margin-bottom: 20px;
  color: #063a64;
  text-transform: uppercase;
}

.articles_sort {
  display: flex;
  gap: 10px;
  max-width: 300px;
  padding: 12px 8px;
  background-color: #d6eaf8;
  border-radius: 8px;
}

.articles_sort_item {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #333333;
  width: 160px;
}

.articles_sort_item label {
  margin-bottom: 8px;
  font-weight: 500;
}

.articles_sort_item select {
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #cccccc;
  background-color: #fff3b0;
  color: #333333;
  transition: background-color 0.3s ease;
  cursor: pointer;
}



@media (min-width: 420px) {
  .articles {
    margin: 30px 0;
  }
}

@media (min-width: 768px) {
  .articles {
    margin: 40px 0;
  }

  .articles_title {
    font-size: 28px;
  }
} */
