@use "../../styles/shared/variables" as *;

.articles_cards {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &_column {
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: unset;
  }
}

.no_favourites_message {
  text-align: center;
  font-size: 20px;

  .profile_link {
    color: #2563eb;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 0.25rem;
  }
}

@media (min-width: 768px) {
  .articles_cards {
    &_column {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100%;
    }
  }
}

@media (min-width: 1024px) {
  .articles_cards {
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
  }
}
