@use "../../styles/shared/variables" as *;

.article_card {
  width: 100%;
  max-width: 270px;
  cursor: pointer;
  position: relative;
  z-index: 1;

  &_row {
    max-width: 100%;
  }
}

.article_card_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  &_row {
    flex-direction: row;
    align-items: center;
    height: 100px;
  }
}

.article_card_img {
  width: 269px;
  height: 269px;
  border-radius: 8px;

  &_row {
    width: 112px;
    height: 80px;
  }
}
.article_card_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 8px;
  width: 100%;
  position: relative;

  &_extra {
    display: flex;
    justify-content: space-between;
    color: $text-secondary-color;
    font-size: 14px;
    font-weight: 400;
    border-radius: 16px;
    text-transform: capitalize;

    &_row {
      flex-direction: column;
      justify-content: flex-start;
      font-size: 12px;
    }
  }
}

.article_card h4 {
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.article_card_icons {
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  gap: 4px;
  background-color: $blue-color-100;
  padding: 6px;
  border-radius: 16px;

  span {
    height: 25px;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  &_row {
    width: fit-content;
    height: fit-content;
    bottom: 10px;
    top: auto;
    right: 0;
    gap: 2px;
    padding: 0px 4px;
    font-size: 14px;

    span svg {
      height: 20px;
      width: 20px;
    }
  }
}

@media (min-width: 420px) {
  .article_card_info {
    &_extra {
      flex-direction: row;

      &_row {
        flex-direction: row;

        p:first-child::after {
          content: "•";
          margin: 0 4px;
          color: currentColor;
        }
      }
    }
  }

  .article_card_icons {
    &_row {
      bottom: 10px;
      right: 15px;
    }
  }
}

@media (min-width: 768px) {
  .article_card_info {
    &_extra {
      &_row {
        flex-direction: column;

        p:first-child::after {
          content: none;
        }
      }
    }
  }

  .article_card_icons {
    &_row {
      right: 5px;
    }
  }
}

@media (min-width: 1024px) {
  .article_card {
    &_row {
      max-width: fit-content;
    }

    &_wrapper {
      &_row {
        width: 460px;
      }
    }
  }

  .article_card_info {
    &_extra {
      &_row {
        flex-direction: row;

        p:first-child::after {
          content: "•";
          margin: 0 4px;
          color: currentColor;
        }
      }
    }
  }
}
