@use "../../styles/shared/variables" as *;

.article_card {
  width: 100%;
  max-width: 270px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.article_card_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.article_card img {
  width: 269px;
  height: 269px;
  border-radius: 8px;
}
.article_card_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 8px;

  &_extra {
    display: flex;
    justify-content: space-between;
    color: $text-secondary-color;
    font-size: 14px;
    font-weight: 400;
    border-radius: 16px;
    text-transform: capitalize;
  }
}

.article_card h4 {
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.article_card_icons {
  width: 96px;
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  justify-content: space-between;
  gap: 4px;
  background-color: $blue-color-100;
  padding: 6px;
  border-radius: 16px;
}

.article_card_icons span {
  height: 25px;
}

.article_card_icons div {
  display: flex;
  align-items: center;
  gap: 2px;
}
