/* .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a9cdeb;
  color: #444444;
  padding: 20px 10px;
}

.footer_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 500;
  color:#FFF9DB;
}


@media (min-width: 420px) {
  .footer {
    gap: 20px;
    padding: 20px 40px;
  }
}

@media (min-width: 1024px) {
  .footer_logo {
    font-size: 30px;
  }
} */
