@use "../../styles/shared/variables" as *;

.comment_card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 16px 20px;
  margin-bottom: 16px;
  box-shadow: 0 1px 6px rgba(169, 205, 235, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.comment_card_author {
  font-weight: 600;
  color: $blue-color-600;
  margin-bottom: 6px;
}

.comment_card_body {
  font-size: 16px;
  color: #444444;
  line-height: 1.4;
  flex-grow: 1;
}

.comment_card_votes {
  font-weight: 600;
  margin-left: auto;
  font-size: 14px;
  align-self: center;
  display: flex;
  gap: 6px;
  align-items: center;
  user-select: none;
  color: $blue-color-600;

  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    height: 28px;
    border: 1px solid $blue-color-100;
    background-color: transparent;
    border-radius: 6px;
    font-size: 14px;
    line-height: 1;

    &:hover {
      background-color: $blue-color-100;
    }
  }
}

.comment_card_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #a9cdeb;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px;
  transition: color 0.3s ease;
}

.comment_card_button:hover {
  color: #063a64;
}

.comment_card_button_disabled {
  color: #f2f2f2;
  cursor: not-allowed;
}

@media (min-width: 768) {
  .comment_card {
    flex-direction: row;
  }
}
