.likes {
  display: flex;
  align-items: center;
}

.likes_icon {
  color: transparent;
  stroke: black;
}

.likes_icon:hover {
  color: #f28b82;
  stroke: #f28b82;
  cursor: pointer;
}

.likes_icon_active {
  color: #f28b82;
  stroke: #f28b82;
}
